*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: auto;
    background-image: linear-gradient(rgba(51, 51, 51, 0.5),rgba(134, 134, 134, 0.5)),url(images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}